//colors-fonts
$main-font-color: #ffffff;
$question-font-color: #02de8c;
$answer-font-color: #00ffff;
$nav-web-font-color: #f8fefd;
$nav-web-font-color-active: #02de8c;
$nav-web-font-color-hover: #00ffff;
$nav-web-font-color-focus: #00ffff;
$non-active-link: #268080;

//colors-background
$background-dark: #151b1d;
$background-platform: #252f33;

//colors-icons
$active-icon-fill: #02de8c;
// $non-active-icon-fill: #268080;
$hover-icon-fill: #00ffff;
$focus-icon-fill: #00ffff;
$dufault-icon-fill: #f8fefd;
$assist-fill: #bdb8b8;

//colors-button
$active-btn: #02de8c;
$non-active-btn: #268080;
$hover-btn: #00ffff;
$focus-btn: #00ffff;
$dufault-btn: #ffffff;

//breakpoints
$bp-mobile: 480px;
$bp-modile-flatform: 562px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
