@import '../../styles/reIndex.scss';
.header {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(28, 36, 39, 0.85);
  overflow: hidden;
}

.menu {
  margin-left: auto;
  width: 30px;
  height: 30px;
  --color1: #f8fefd;

  &__active {
    --color1: #02de8c;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    --color1: #00ffff;
  }
}

.container {
  height: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  position: relative;
  &::after {
    overflow: hidden;
    content: '';
    height: 1px;
    width: 400%;
    position: absolute;
    bottom: 0px;
    right: -50%;

    background-color: #00ffff;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    margin-left: 86px;
    padding: 0;
  }
  &__item {
    list-style-type: none;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__link {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.09em;
  }
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.imgur.com/O31m2YV.jpg');
  background-size: cover;
  overflow: hidden;
  @media screen and (max-width: $bp-tablet) {
    height: 400px;
  }
  @media screen and (min-width: $bp-tablet) {
    height: 600px;
  }

  &::after {
    overflow: hidden;
    content: '';
    height: 1px;
    width: 400%;
    position: absolute;
    bottom: 0px;
    right: -50%;

    background-color: #00ffff;
  }
  &__title {
    // margin-top: 225px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
  }

  &__container {
    padding-top: 90px;
  }
}
