@import url('../../styles/reIndex.scss');
.exam {
  &__nav {
    padding: 5px;
    // padding-top: 15px;
    // padding-bottom: 15px;

    border-radius: 20px;

    @media screen and (min-width: 562px) {
      background: #252f33;
      box-shadow: 0px 51px 150px rgba(102, 197, 209, 0.11),
        0px 25.8188px 65.3906px rgba(102, 197, 209, 0.07425),
        0px 10.2px 24.375px rgba(102, 197, 209, 0.055),
        0px 2.23125px 8.67188px rgba(102, 197, 209, 0.03575);
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
//  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.09), 0px 16px 24px rgba(0, 0, 0, 0.52),
//       0px 4px 8px rgba(0, 0, 0, 0.39), 0px 0px 1px rgba(0, 0, 0, 0.38);
