@import '../../styles/reIndex.scss';

.link {
  font-size: 18px;
  line-height: 106%;

  color: $non-active-link;
  text-decoration: none;
  height: 50px;

  padding: 15.5px 60.5px;
  &__active {
    color: $nav-web-font-color-active;
  }
  &:hover,
  &:focus {
    color: $nav-web-font-color-hover;
  }
}

.item {
  display: flex;
  align-items: center;
  margin: 5px;

  border: 1px solid;
  border-color: $non-active-link;
  border-radius: 8px;

  &__active {
    border-color: $nav-web-font-color-active;
  }
  &:hover,
  &:focus {
    border-color: $nav-web-font-color-hover;
  }
}
